body {
      background-color: lightgrey;
      color: navy;
      font-family: "Arial", sans-serif;
      font-size: 1.1em;

      padding: 10px;
  }
.header {
      background-color: darkgrey;
      color: coral;
      font-size: 3.0em;
      text-align: center;
      padding: 25px;
  }
.column {
  float: left;
  width: 50%;
}
.colorful {
      color: orange;
  }
