body {
      background-color: lightgrey;
      color: navy;
      font-family: "Arial", sans-serif;
      font-size: 1.1em;

      padding: 75px;
  }
#header {
      background-color: #555555;
      color: coral;
      text-align: center;
      padding: 25px;
  }
#intro {
      font-size: 1.3em;
  }
.colorful {
      color: orange;
  }
